@font-face {
    font-family: 'Folkard';
    src: url('1x/folkard_.ttf');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #080808;
  font-family: 'Georgia';
  color: white;
  background-color: rgb(31, 83, 9);
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(.15);
  opacity: 80%;
}

#title-container{
  position: absolute;
  bottom: 40vh;
  left: 50%;
  right: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0px;
}

#title{
  font-family: "Folkard";
  font-size: 240px;
  margin-top: 20px;
  line-height: 1.3;
  font-variant-caps: small-caps;
  transform: scaleX(1.2);
  color: white;
  filter: drop-shadow(10px -10px 2.5px #151515) drop-shadow(0px 0px 9px #e8e8e8d4);
}


.panels-container {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  right: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0px;
}

.panel {
  width: 280px;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.panel h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.panel p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.panel-link {
  font-size: 26px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  transition: all 0.3s ease;
}

.panel-link:hover {
  border-bottom-color: transparent;
}

@media screen and (max-width: 768px) {

#title-container{
  position: absolute;
  top: 20vh;
  left: 50%;
  right: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0px;
  margin-top: 10px;
}

#title{
  font-family: "Folkard";
  font-size: 110px;
  font-variant-caps: small-caps;
  transform: scaleX(1);
  color: white;
  filter: drop-shadow(3px -3px 2.5px #151515) drop-shadow(0px 0px 9px #e8e8e8d4);
}

.panels-container {
  flex-direction: column;
  gap: 50px;
  bottom: 20vh;
  left: 0;
  right: 0;
  align-items: center;
}

.panel {
  width: 70%;
  max-width: 240px;
  padding: 15px;
  text-align: center;
}

.panel-link {
  font-size: 22px;
}

#background-video {
  height: 150%;
  width: 150%;
}
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  #title-container {
    top: 15vh;
    margin-top: 10px;
  }

  .panels-container {
  flex-direction: row;
  gap: 160px;
  bottom: 15vh;
  }

  .panel {
    width: 35%;
    max-width: 180px;
  }

  #background-video {
  left: -50px;
  width: 200%;
  }
}