body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-family: cursive;
    font-size: large;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .field {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    overflow: hidden;
    z-index: 0;
  }

  .weed, .rock, .rock.revealed {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size:cover
  }

  .weed {
    background-image: url(1x/weed.png);
  }

  .rock {
    background-image: url(1x/rock.png);
  }

  .rock.revealed {
    background-image: url(1x/gold.png);
  }

  .score-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
  }